.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalOpen {
  overflow: hidden;
  height: 100vh;
}

.loadingIconOuterContainer {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingIconInnerContainer {
  width: 8rem;
  aspect-ratio: 1;
}

.loadingIconTimelineOuterContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.loadingIconTimelineInnerContainer {
  width: 8rem;
  aspect-ratio: 1;
}

.main {
  display: flex;
  flex-direction: row;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 90vh;
  width: clamp(1px, 50vw, 1000px);
}

.profileHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.profilePicContainer {
  width: clamp(100px, 35%, 400px);
  aspect-ratio: 1;
  position: relative;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.profilePic {
  border-radius: 8px;
  object-fit: cover;
}

.profileData {
  max-width: 65%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileName {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.profileDate {
  color: rgb(var(--subtitle-rgb));
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

.followButton {
  display: inline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.followButton:hover:not(:disabled) {
  opacity: 0.8;
}

.followButton:active {
  opacity: 0.9;
}

.followButton:disabled {
  color: #88888880 !important;
  cursor: default;
}

.followButtonIcon {
  /* I have to use !important here because MaterialUI adds a font-size
  of 1.5rem to their icons by default, which takes precedence over any
  font size I would typically set here */
  font-size: 5rem !important;
}

.aboutUser {
  width: clamp(250px, 18vw, 600px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.followStatsContainerExtended {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.followStatsContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-block: 0.5rem 1rem;
  border-radius: 8px;
}

.followStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.followStatsLabel {
  font-size: 1rem;
}

.musicNotes {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.activityContainer {
  margin-top: 2rem;
}

.activityHeader {
  margin-bottom: 5rem;
}

.noResultsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.noResultsText {
  color: rgb(171, 171, 171);
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Small Laptop */
@media (max-width: 1400px) {
  .musicNotes {
    grid-template-columns: auto auto;
  }

  .followButtonIcon {
    /* I have to use !important here because MaterialUI adds a font-size
    of 1.5rem to their icons by default, which takes precedence over any
    font size I would typically set here */
    font-size: 3rem !important;
  }

  .profileDate {
    font-size: 1.2rem;
  }
}

/* Tablet/Mobile */
@media (max-width: 768px) {
  .mainContent {
    width: 90vw;
    padding-left: 0;
    padding-right: 0;
  }

  .profileHeader {
    flex-direction: column;
  }

  .profilePicContainer {
    width: 100%;
  }

  .profileData {
    max-width: 100%;
    width: 100%;
  }

  .activityContainer {
    margin-bottom: 2rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  .followStatsLabel {
    font-size: 0.8rem;
  }

  .followButtonIcon {
    /* I have to use !important here because MaterialUI adds a font-size
    of 1.5rem to their icons by default, which takes precedence over any
    font size I would typically set here */
    font-size: 2.5rem !important;
  }
}
