.bottomNavBar {
  /* TODO: REMOVE */
  --navbar-background-rgba: 218, 218, 218, 0.95;
  width: 100vw;
  background-color: rgb(var(--navbar-background-rgba));
  position: fixed;
  bottom: 0;
  left: 0;
}

.navButtons {
  display: flex;
  flex-direction: row;
  margin-block: 0.5rem;
  margin-left: 10vw;
  width: 40vw;
  justify-content: space-between;
}

.navButton {
  cursor: pointer;
  border-radius: 4px;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navButton:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.navButton:active {
  background-color: rgba(167, 167, 167, 0.5);
}

.navIcon {
  /* TODO: REMOVE */
  --foreground-rgb: 0, 0, 0;
  color: rgb(var(--foreground-rgb));
  font-size: 1.5rem;
}

.actionButton {
  cursor: pointer;
  position: fixed;
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  right: calc(10vw);
  bottom: calc(5vw);
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  color: #fff;
}

.actionButton:hover {
  opacity: 0.95;
}

.actionButton:active {
  opacity: 0.98;
}

.actionButtonIcon {
  font-size: 2.5rem;
}
