.listContainer {
  border-radius: 16px;
  position: relative;
  padding: 4rem 7.5% 7.5% 7.5%;
  box-shadow: 0px 8px 10px 0px rgba(40, 40, 40, 0.2);
  margin-bottom: 6rem;
}

.postProfileIconLink {
  position: absolute;
  top: -3rem;
}

.postProfileIconContainer {
  position: relative;
  width: 6rem;
  aspect-ratio: 1;
}

.postProfileIcon {
  border-radius: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  object-fit: cover;
}

.listTitle {
  color: #000;
  margin-bottom: 1.5rem;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.listElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.listElementIndex {
  color: #000;
}

.listElementImageContainer {
  height: 4rem;
  aspect-ratio: 1;
  position: relative;
  margin-inline: 1rem;
}

.listElementImage {
  border-radius: 10%;
}

.listElementName {
  color: #000;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.cardActions {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.cardActionButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cardActionButton:hover {
  opacity: 0.8;
}

.cardActionButton:active {
  opacity: 0.9;
}

.cardActionIcon {
  /* I have to use !important here because MaterialUI adds a font-size
    of 1.5rem to their icons by default, which takes precedence over any
    font size I would typically set here */
  font-size: 1.7rem !important;
  color: rgba(0, 0, 0, 0.5);
}

.deleteModalOverlay {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--nav-overlay-rbga));
  z-index: 400;
}

.deleteModal {
  width: 400px;
  background-color: rgb(var(--search-background-rgb));
  padding: 2rem;
  border-radius: 16px;
}

.areYouSure {
  margin-bottom: 1rem;
}

.modalButtons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.modalButton {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.modalButton:active {
  opacity: 0.8;
}

.cancel {
  background-color: rgba(var(--review-score-background-rgba));
}

.delete {
  background-color: rgba(var(--danger-rgba));
}

.loadingOverlay {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--nav-overlay-rbga));
  z-index: 400;
}

.loadingIconContainer {
  width: 8rem;
}

/* Small Laptop */
@media (max-width: 1400px) {
  .postProfileIconLink {
    top: -2.5rem;
  }

  .postProfileIconContainer {
    width: 5rem;
  }

  .listContainer {
    padding-top: 4.5rem;
  }
}

/* Mobile */
@media (max-width: 520px) {
  .listElementImageContainer {
    height: 3rem;
    margin-inline: 0.75rem;
  }

  .postProfileIconLink {
    top: -2.5rem;
  }

  .postProfileIconContainer {
    width: 5rem;
  }

  .listContainer {
    padding-top: 3.5rem;
  }

  .modalButton {
    font-size: 1rem;
  }

  .deleteModal {
    width: 80vw;
  }
}
