.optionsContainer {
  display: flex;
  flex-direction: row;
}

.option {
  background-color: rgba(var(--review-score-background-rgba));
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  border-radius: 4px;
  margin-inline-end: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
