.reviewCard {
  width: 100%;
  border-radius: 16px;
  position: relative;
  padding: 5rem 7.5% 4rem 7.5%;
  box-shadow: 0px 8px 10px 0px rgba(40, 40, 40, 0.2);
  margin-bottom: 6rem;
}

.postProfileIconLink {
  position: absolute;
  top: -3rem;
}

.postProfileIconContainer {
  position: relative;
  width: 6rem;
  aspect-ratio: 1;
}

.postProfileIcon {
  border-radius: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  object-fit: cover;
}

.reviewHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coverArtSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.coverArt {
  border-radius: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.reviewInfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
}

.reviewTitle {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.reviewSubtitle {
  color: rgb(var(--subtitle-rgb));
  font-size: 1.4rem;
  margin-top: 0.5rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.scoreContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.reviewTextHeader {
  margin-top: 5%;
  margin-bottom: 2%;
}

.reviewBody {
  font-size: 1.5rem;
  line-height: 1.5;
  overflow: hidden;
  transition: height 0.5s;
  white-space: pre-line;
}

.reviewBodyCollapsed {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.showButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.showButton {
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(var(--subtitle-rgb));
}

.cardActions {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardActionButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cardActionButton:hover {
  opacity: 0.8;
}

.cardActionButton:active {
  opacity: 0.9;
}

.cardActionIcon {
  /* I have to use !important here because MaterialUI adds a font-size
    of 1.5rem to their icons by default, which takes precedence over any
    font size I would typically set here */
  font-size: 1.7rem !important;
  color: rgb(var(--subtitle-rgb));
}

.deleteModalOverlay {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--nav-overlay-rbga));
  z-index: 400;
}

.deleteModal {
  width: 400px;
  background-color: rgb(var(--modal-background-rgb));
  padding: 2rem;
  border-radius: 16px;
}

.deleteModalText {
  color: rgb(var(--foreground-rgb));
}

.areYouSure {
  margin-bottom: 1rem;
}

.modalButtons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.modalButton {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.modalButton:active {
  opacity: 0.8;
}

.cancel {
  background-color: rgba(var(--review-score-background-rgba));
}

.delete {
  background-color: rgba(var(--danger-rgba));
}

.loadingOverlay {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--nav-overlay-rbga));
  z-index: 400;
}

.loadingIconContainer {
  width: 8rem;
}

.timestampText {
  color: rgb(var(--subtitle-rgb));
}

/* Small Laptop */
@media (max-width: 1400px) {
  .reviewHeader {
    flex-direction: column;
  }

  .coverArtSection {
    width: 100%;
  }

  .reviewInfo {
    width: 100%;
    margin-top: 1rem;
  }

  .reviewSubtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .reviewTextHeader {
    margin-top: 2rem;
  }

  .reviewBody {
    font-size: 1.2rem;
  }

  .postProfileIconLink {
    top: -2.5rem;
  }

  .postProfileIconContainer {
    width: 5rem;
  }

  .reviewCard {
    padding-top: 4.5rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .reviewSubtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .reviewHeader {
    flex-direction: row;
  }

  .coverArtSection {
    width: 30%;
  }

  .reviewInfo {
    width: 65%;
    margin-top: 1rem;
  }

  .modalButton {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 520px) {
  .reviewHeader {
    flex-direction: column;
  }

  .coverArtSection {
    width: 100%;
  }

  .reviewInfo {
    width: 100%;
    margin-top: 1rem;
  }

  .reviewSubtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .reviewBody {
    font-size: 1rem;
  }

  .postProfileIconLink {
    top: -2.5rem;
  }

  .postProfileIconContainer {
    width: 5rem;
  }

  .reviewCard {
    padding-top: 4.5rem;
  }

  .deleteModal {
    width: 80vw;
  }
}
