.reviewCard {
  width: 100%;
  border-radius: 16px;
  position: relative;
  padding: 5rem 7.5% 7.5% 7.5%;
  box-shadow: 0px 8px 10px 0px rgba(40, 40, 40, 0.2);
  margin-bottom: 6rem;
}

.postProfileIconLink {
  position: absolute;
  top: -3rem;
}

.postProfileIconContainer {
  position: relative;
  width: 6rem;
  aspect-ratio: 1;
}

.postProfileIcon {
  border-radius: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  object-fit: cover;
}

.reviewHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coverArtSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.coverArt {
  border-radius: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.reviewInfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
}

.reviewTitle {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.reviewSubtitle {
  color: rgb(var(--subtitle-rgb));
  font-size: 1.8rem;
  margin-top: 0.5rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.scoreContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.reviewTextHeader {
  margin-top: 5%;
  margin-bottom: 2%;
}

.reviewBody {
  font-size: 1.5rem;
  line-height: 1.5;
  overflow: hidden;
  transition: height 0.5s;
  white-space: pre-line;
}

.reviewBodyCollapsed {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.showButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.showButton {
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(var(--subtitle-rgb));
}

/* Small Laptop */
@media (max-width: 1400px) {
  .reviewHeader {
    flex-direction: column;
  }

  .coverArtSection {
    width: 100%;
  }

  .reviewInfo {
    width: 100%;
    margin-top: 1rem;
  }

  .reviewSubtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .reviewTextHeader {
    margin-top: 2rem;
  }

  .reviewBody {
    font-size: 1.2rem;
  }

  .postProfileIconLink {
    top: -2.5rem;
  }

  .postProfileIconContainer {
    width: 5rem;
  }

  .reviewCard {
    padding-top: 4.5rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .reviewSubtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .reviewHeader {
    flex-direction: row;
  }

  .coverArtSection {
    width: 30%;
  }

  .reviewInfo {
    width: 65%;
    margin-top: 1rem;
  }
}

/* Mobile */
@media (max-width: 520px) {
  .reviewHeader {
    flex-direction: column;
  }

  .coverArtSection {
    width: 100%;
  }

  .reviewInfo {
    width: 100%;
    margin-top: 1rem;
  }

  .reviewSubtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .reviewBody {
    font-size: 1rem;
  }

  .postProfileIconLink {
    top: -2.5rem;
  }

  .postProfileIconContainer {
    width: 5rem;
  }

  .reviewCard {
    padding-top: 4.5rem;
  }
}
