.loadingIconContainer {
  width: 100%;
  height: 100%;
}

.loadingIconContainer svg {
  width: 100%;
  height: 100%;
}

.defaultStroke {
  stroke: rgb(var(--foreground-rgb));
}

.defaultFill {
  fill: rgb(var(--foreground-rgb));
}

.recordStrokes {
  transform-box: fill-box;
  transform-origin: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.needle {
  transform-box: fill-box;
  transform-origin: top right;
  animation: wobble 3s linear infinite;
}

@keyframes wobble {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: -2deg;
  }
  75% {
    rotate: 2deg;
  }
  100% {
    rotate: 0deg;
  }
}

.recordFill {
  transition: fill 0.5s;
}
