:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 18, 18, 18;
  --border-radius: 12px;

  --subtitle-rgb: 175, 175, 175;

  --review-score-background-rgba: 50, 50, 50, 0.3;

  --navbar-background-rgba: 39, 39, 39, 0.95;

  --card-background-rgba: 40, 40, 40, 0.8;
  --search-background-rgb: 40, 40, 40;
  --search-background-hover-rgb: 60, 60, 60;

  --nav-overlay-rbga: 0, 0, 0, 0.25;

  --music-note-background-rgb: 56, 56, 56;
  --music-note-line-rgb: 168, 168, 168;

  --text-field-background-rgba: 255, 255, 255, 0.06;
}

/* TODO: Uncomment when I'm ready to implement light mode support */
/* :root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 241, 241, 241;

  --subtitle-rgb: 106, 106, 106;

  --review-score-background-rgba: 170, 170, 170, 0.3;

  --navbar-background-rgba: 218, 218, 218, 0.95;

  --card-background-rgba: 222, 222, 222, 0.8;
  --search-background-rgb: 222, 222, 222;
  --search-background-hover-rgb: 200, 200, 200;

  --nav-overlay-rbga: 255, 255, 255, 0.25;

  --music-note-background-rgb: 195, 195, 195;
  --music-note-line-rgb: 101, 101, 101;

  --text-field-background-rgba: 0, 0, 0, 0.06;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 18, 18, 18;

    --subtitle-rgb: 175, 175, 175;

    --review-score-background-rgba: 50, 50, 50, 0.3;

    --navbar-background-rgba: 39, 39, 39, 0.95;

    --card-background-rgba: 40, 40, 40, 0.8;
    --search-background-rgb: 40, 40, 40;
    --search-background-hover-rgb: 60, 60, 60;

    --nav-overlay-rbga: 0, 0, 0, 0.25;

    --music-note-background-rgb: 56, 56, 56;
    --music-note-line-rgb: 168, 168, 168;

    --text-field-background-rgba: 255, 255, 255, 0.06;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Disable horizontal scroll on mobile */
html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
  min-height: 100dvh;
}
