.outerBackdrop {
  width: 100vw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(221, 31, 36, 0.4) 0deg,
    rgba(123, 159, 94, 0.51) 88deg,
    rgba(25, 156, 229, 0.49) 180deg,
    rgba(229, 20, 234, 0.47) 281.25deg,
    rgba(221, 31, 36, 0.4) 360deg
  );
  animation: party 10s infinite;
}

@keyframes party {
  0% {
    filter: hue-rotate(0);
  }
  25% {
    filter: hue-rotate(35deg);
  }
  50% {
    filter: hue-rotate(0);
  }
  75% {
    filter: hue-rotate(-35deg);
  }
  100% {
    filter: hue-rotate(0);
  }
}

.innerBackdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(var(--background-rgb)) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.loginTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: clamp(48px, 90vw, 312px);
}

.horizontalSpacer {
  height: 2px;
  border-radius: 1px;
  background-color: rgb(171, 171, 171);
  width: 25%;
}

.loginWith {
  color: rgb(171, 171, 171);
}

.buttons {
  width: clamp(0px, 70vw, 256px);
}

.button {
  width: 100%;
  margin-block: 1.5rem;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  opacity: 0.95;
}

.spotifyButton {
  background-color: #1db954;
}

.appleMusicButton {
  background-color: #fb435b;
}

.amazonMusicButton {
  background-color: #1b9ba1;
}

.logoContainer {
  position: relative;
  height: 2rem;
  aspect-ratio: 1;
}

.spotifyText,
.appleMusicText,
.amazonMusicText {
  color: #fff;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}
