.dropzoneContainer {
  width: 100%;
  aspect-ratio: 1;
  z-index: 1;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
}

.fileUploadContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 32px;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: rgba(var(--nav-overlay-rbga));
}

.dropzoneContainer:hover .fileUploadContainer {
  opacity: 1;
}

.fileUploadIcon {
  /* I have to use !important here because MaterialUI adds a font-size
  of 1.5rem to their icons by default, which takes precedence over any
  font size I would typically set here */
  font-size: 10rem !important;
}

.loadingIconContainer {
  width: 8rem;
}

.profilePicContainer {
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 32px;
  z-index: -1;
}

.profilePic {
  border-radius: 32px;
  object-fit: cover;
}
