.dropzoneContainer {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
}

.fileUploadContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: rgba(var(--nav-overlay-rbga));
}

.dropzoneContainer:hover .fileUploadContainer {
  opacity: 1;
}

.fileUploadIcon {
  font-size: 10rem;
}

.loadingIconContainer {
  width: 40%;
}

.profilePicContainer {
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 32px;
  z-index: -1;
}

.profilePic {
  border-radius: 32px;
  object-fit: cover;
}
