.sideNav {
  position: fixed;
  left: 0;
  width: clamp(250px, 15vw, 600px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  width: 90%;
  margin-bottom: 2rem;
  cursor: pointer;
}

.navButtonsContainer {
  width: 100%;
}

.sideNavButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: rgba(var(--neutral-background-rgba));
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
}

.sideNavButton:hover {
  opacity: 0.98;
}

.sideNavButtonText {
  margin-left: 0.75rem;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.largeButton {
  cursor: pointer;
  display: flex;
  width: 47%;
  aspect-ratio: 1;
  justify-content: center;
  background-color: rgba(var(--neutral-background-rgba));
  align-items: center;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  color: #fff;
  transition: background-color 0.2s;
}

.largeButton:hover {
  opacity: 0.95;
}

.largeButton:active {
  opacity: 0.98;
}

.largeButtonIcon {
  /* I have to use !important here because MaterialUI adds a font-size
    of 1.5rem to their icons by default, which takes precedence over any
    font size I would typically set here */
  font-size: 3rem !important;
}
